<header>
	<ul class="menu-items">
		<li class="menu-list-item">Products</li>
		<li class="menu-list-item">Get inspired</li>
		<li class="menu-list-item">Find a store</li>
		<li class="menu-list-item">About us</li>
		<li class="menu-list-item">Contact</li>
	</ul>
	<div class="logo-container"></div>
	<div class="user-interactivity">
		<div class="search">What are you looking for?</div>
		<div class="account">My account</div>
		<div class="shopping-cart">
			<div class="icon shopping-cart"></div>
			<div class="shopping-cart-amount">12</div>
		</div>
	</div>
</header>
