@import './reset.scss';
@import './vars.scss';
@import './components/header/index.scss';
@import './components/hero/index.scss';
@import './components/block-content-with-image/index.scss';

body {
	// border: 1px solid red;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 1900px;

	h1 {
		color: black;
	}
}

a[href] {
	color: $mainDarkColor;

	&:hover {
		color: $mainLightColor;
	}
}

.container {
	max-width: $row_max;
	margin-left: auto;
	margin-right: auto;
	// border: 1px solid grey;
	padding: 0px 15px;

	&.cn-small {
		max-width: $row_small;
	}

	&.cn-medium {
		max-width: $row_medium;
	}

	&.cn-large {
		max-width: $row_large;
	}

	&.cn-extra-large {
		max-width: $row_extralarge;
	}

	&.cn-max {
		max-width: $row_max;
	}
}

.btn-primary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 18px 40px;
	gap: 5px;

	color: white;
	background: #F6D524;

	/* Drop shadow/Default */
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
	border-radius: 100px;
	border: 0px solid black;

	// font-family: 'Myriad Pro', sans-serif;
	font-family: 'Noto Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;

	// transition: 0.2s transform;

	// transform: scale(1);

	&:hover {
		background-color: $btnPrimaryHover;
		cursor: pointer;
		// transform: scale(1.02);
	}

	@include subtle-scale-hover;
}