$headerHeight: 100px;

$break_mobile: 481px;
$break_tablet: 768px;
$break_desktop: 1025px;
$break_desktop-xl: 1680px;

$max_break_tablet: 767px;
$max_break_desktop: 1024px;

$mobile_spacing: 4rem;
$tablet_spacing: 6rem;
$desktop_spacing: 10rem;

$row_small: 780px;
$row_medium: 900px;
$row_large: 1000px;
$row_max: 1200px;

$btnPrimary: #F6D524;
// $btnPrimaryHover: darken($btnPrimary, 10%);
$btnPrimaryHover: #E1C323;

$mainDarkColor: #4B4B4B;
$mainLightColor: #F6D524;
$altLightColor: #FFFFFF;

$warningRed: #E56041;

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Gochi Hand';
	font-style: normal;
	font-weight: 400;
	src:
		url('./static/fonts/gochi-hand-v19-latin-regular.woff2') format('woff2'),
		url('./static/fonts/gochi-hand-v19-latin-regular.woff') format('woff'),;
}
/* noto-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src:
		url('./static/fonts/noto-sans-v27-latin-regular.woff2') format('woff2'),
		url('./static/fonts/noto-sans-v27-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 800;
	src:
		url('./static/fonts/noto-sans-v27-latin-800.woff2') format('woff2'),
		url('./static/fonts/noto-sans-v27-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}